section.section.s-about
  .container.clearfix
    .s-title
      h1.s-title__main О будущем ученике
      h2.s-title__desc Ребятам из Loftschool будет полезнее узнать немного обо мне
    .article.article--about
      h3.title Немного обо мне
      p.generic Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать. Пока есть только один сайт, которым могу похвастаться:
        |
        |
        a(href="yandex.ru").link www.yandex.ru
        | .
    .article.article--skills
      h3.title Мой опыт в разработке
      p.generic В этом блоке я расскажу о себе, что я уже умею. Здесь я укажу другие курсы, которые до этого я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру: html5, css3, sass, jade, git и пр.
