section.section.s-courses
  .container.clearfix
    .s-title
      h1.s-title__main Курсы на loftblog
      h2.s-title__desc которые мне помогут в выполнении этого задания
    .courses
      .course
        .course__overlay.js
        .course__img-wrap
          img(src="images/js.png").course__image
        .course__info
          .course__title
            a(href="http://loftschool.com").course__link Основы Javascript
          p.course__text Видеокурс об одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
          .course__duration 24 урока (6 часов 46 минут)
        .course__check
          .viewed
            input(type="checkbox" name="js" value="js")#js
            label(for="js"): span Посмотрел

      .course
        .course__overlay.jquery
        .course__img-wrap
          img(src="images/jquery.png").course__image
        .course__info
          .course__title
            a(href="http://loftschool.com").course__link Основы JQUERY
          p.course__text Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.
          .course__duration 11 уроков (2 часа 6 минут)
        .course__check
          .viewed
            input(type="checkbox" name="jquery" value="jquery")#jquery
            label(for="jquery"): span Посмотрел

      .course
        .course__overlay.elems
        .course__img-wrap
          img(src="images/black.png").course__image
        .course__info
          .course__title
            a(href="http://loftschool.com").course__link Базовые элементы страницы
          p.course__text Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.
          .course__duration 9 уроков (2 часа 7 минут)
        .course__check
          .viewed
            input(type="checkbox" name="elems" value="elems")#elems
            label(for="elems"): span Посмотрел

      .course
        .course__overlay.devices
        .course__img-wrap
          img(src="images/devices.png").course__image
        .course__info
          .course__title
            a(href="http://loftschool.com").course__link Создание адаптивных сайтов
          p.course__text В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн.
          .course__duration 7 уроков (2 часа 11 минут)
        .course__check
          .viewed
            input(type="checkbox" name="devices" value="devices")#devices
            label(for="devices"): span Посмотрел

      .course
        .course__overlay.button
        .course__img-wrap
          img(src="images/button.png").course__image
        .course__info
          .course__title
            a(href="http://loftschool.com").course__link Верстка адаптивной css галереи
          p.course__text В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.
          .course__duration 6 уроков (1 час 9 минут)
        .course__check
          .viewed
            input(type="checkbox" name="button" value="button")#button
            label(for="button"): span Посмотрел

      .course
        .course__overlay.css
        .course__img-wrap
          img(src="images/css.png").course__image
        .course__info
          .course__title
            a(href="http://loftschool.com").course__link Верстка адаптивной css галереи
          p.course__text В этом курсе мы разберем как сверстать адаптивную css галерею. Также познакомимся с Flexbox.
          .course__duration 4 урока (50 минут)
        .course__check
          .viewed
            input(type="checkbox" name="css" value="css")#css
            label(for="css"): span Посмотрел



