.s-courses
  min-width: 1200px
  margin-bottom: 65px
  background-image: url("../images/pattern.png")

.course
  box-sizing: border-box
  display: inline-block
  vertical-align: top
  position: relative
  box-shadow: 0 1px 5px 0 rgba(black, .2)
  width: 300px
  margin: 8px

  // &:nth-child(4n)
  //   clear: both


  &__overlay
    position: absolute
    display: block
    top: 0
    right: 0
    left: 0
    height: 0%
    background-color: rgba($green, .2)
    z-index: 999
    transition: height 1s ease-in
  &__info
    padding: 15px 20px 20px
    background-color: #fff

  &__title

    margin-bottom: 4px

  &__link
    text-decoration: none
    font-family: $ff
    font-size: 21px
    color: $dark-gray
    transition: color .2s ease
  &:hover
    .course__link
      color: $green
    .course__img-wrap:after
      opacity: 1


  &__text
    margin-bottom: 10px

  &__img-wrap
    position: relative
    height: 170px
    width: 100%
    transition: opacity .15s ease-in-out
    &:after
      position: absolute
      display: block
      content: ''
      height: 5px
      bottom: 0
      right: 0
      left: 0
      background-color: $green
      opacity: 0

  &__image
    max-width: 100%
    max-height: 100%
    display: block


// checkbox style


.course__check
  padding: 20px
  background-color: $light-gray
.viewed
  width: 20px
  height: 20px
  position: relative
  background: #fff
  border: 2px solid $gray
  border-radius: 2px
  transition: opacity .3s ease
  label
    width: 20px
    height: 20px
    cursor: pointer
    position: absolute
    left: -2px
    top: -2px
    border-radius: 2px

    &:after
      @include center(both)
      font-family: fontawesome
      content: '\f00c'
      color: #fff
      font-size: 15px

      opacity: 0
      transition: opacity .15s ease
    &:hover
      background: $green
      & > span
        color: $green
      &::after
        opacity: 0.4
    & > span
      padding-left: 25px
      font-size: 18px
      line-height: 18px

  input[type=checkbox]
    width: .1px
    height: .1px
    opacity: 0
    overflow: hidden
    position: absolute
    z-index: -1

    &:checked + label
      background: $green
      & > span
        color: $green
      &::after
        opacity: 1



