$ff: firasans
$ff-light: firasans-light
$ff-lightitalic: firasans-lightitalic
$ff-medium: firasans-medium
$ff-mediumitalic: firasans-mediumitalic
$ff-italic: firasans-italic
$ff-bold: firasans-bold
$ff-bolditalic: firasans-bolditalic

// colors

$dark-gray: #212121
$gray: #727272
$light-gray: #F6F7F2
$green: #8CC34B




